node_modules
.next

# Env files
.env
.env.production
.env*.local

# Prisma
prisma/dev.db

# Uploads
public/uploads/*
!public/uploads/.gitkeep

# Vercel
.vercel

# Logs
*.log

# OS
.DS_Store
Thumbs.db
.vercel
.env*.local
